{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        {% if post.created_date%}
        <div class="post">
            <div class="date">
                <p>published: {{ post.created_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}